{#
/**
 * 5 point smileys: wrapper HTML
 *
 * @var $sRows         : the rows, generated with the view item_row.php
 * @var $slider_rating : slider rating display in question attribute
 *
 * @var $id
 * @var $sliderId  $ia[0];
 * @var $name'                   => $ia[1],
 * @var $sessionValue
 */
#}

<!--  5 point smileys -->
<!-- Answers wrapper -->

<div class="{{coreClass}} list-unstyled form-inline smiley-list" role="radiogroup" aria-labelledby="ls-question-text-{{name}}">
    {% for aRow in aRows %}
        {% include './survey/questions/answer/5pointchoice/rows/item_row.twig' with aRow only %}
    {% endfor %}
    <div class="clearfix"></div>
</div>

{#/* Value for expression manager javascript (use id) ; no need to submit */#}
<input type="hidden" name="java{{name}}" id="java{{name}}" disabled value={{sessionValue}} />


